/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

a,a:hover,a:visited,a:link{
  text-decoration: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: -24px 0px;
  border: solid 1px #FFF;
  box-shadow: 0px 0px 3px rgba(0,0,0,.4);
  transition: all ease 0.5s;
}

li:hover .user-icon {
  transform: rotateZ(360deg);
}

.panel .panel-body {
  border-top: solid 1px #EEE;
}

.item-thumbnail {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.item.expired {
  background: #EEE;
}

.table-centered td, .table-centered th {
  text-align: center !important;
}
.navbar-brand > img {
  display: initial;
  height: 24px;
  width: 24px;
}
footer .container p {
  margin: 10px 0px;
}

.panel .rounded {
  background: rgba(255,255,255,.2);
  display: inline-block;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 50%;
}

.contact-form {
  display: flex;
  flex-direction: row;
}
.contact-form > .map {
  flex: 4;
}
.contact-form > .form {
  flex: 6;
  padding-left: 40px;
}

.contact-form > .form h2 {
  margin: 20px 0px 40px 0px;
}

.contact-form > .form dl > dt {
  font-size: 14pt;
  font-weight: 900;
  color: #888;
}

.contact-form > .form dl > dd {
  font-size: 22pt;
  font-weight: 100;
  display: inline;
  border-bottom: dashed 1px #888;
  margin-left: 20px;
}
.contact-form > .form dl > dd + dt {
  margin-top: 20px;
}
/**
 * File section
 */

.file {
  display: flex;
}
.file-mark {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file-mark__mark {
  font-size: 24pt;
  font-weight: 100;
}

.file-mark__mark > span {
  border-bottom: dashed 1px #888;
}

/**
 * Modify default navbar css
 */
@media (min-width: 768px) {
  .navbar-nav>li>a {
    text-transform: uppercase;
  }
}

/**
 * Panel custom style
 */
.boxxy {
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    border-radius: 4px;
}
.boxxy .boxxy-foot {
    padding: 5px;
    background: rgba(0,0,0,.1);
    text-align: center;
    text-transform: uppercase;
}
.boxxy .boxxy-content {
    display: flex;
}

.boxxy .boxxy-content > i, .boxxy .boxxy-content > span {
    flex: 1;
    text-align: center;
    font-size: 24pt;
    padding: 15px;
}
.boxxy .boxxy-content > i {
    align-self: center;
}
.boxxy .boxxy-content > span {
    background: rgba(255,255,255,.1);
}
.boxxy.red {
    background: #e74c3c;
    color: #FFF;
}
.boxxy.orange {
    background: #f39c12;
    color: #FFF;
}
.boxxy.blue {
    background: #2980b9;
    color: #FFF;
}
.boxxy.grey {
    background: #7f8c8d;
    color: #FFF;
}